<!DOCTYPE html>
<html>
<head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-6R5D9RYVWX"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'G-6R5D9RYVWX');
    </script>
    <meta charset="utf-8">
    <meta name="google" value="notranslate">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <title>dwengo IDE</title>
    <link rel="stylesheet" href="<%- base_url -%>/dwenguinoblockly/DwenguinoIDE/css/all.css" rel="stylesheet">
    <link rel="stylesheet" href="<%- base_url -%>/dwenguinoblockly/DwenguinoIDE/css/style.css">
    <link rel="stylesheet" href="<%- base_url -%>/dwenguinoblockly/DwenguinoIDE/css/colors.css">
    <link rel="stylesheet" href="<%- base_url -%>/dwenguinoblockly/DwenguinoIDE/js/lib/jquery-ui/jquery-ui.css">
    <link rel="stylesheet" href="<%- base_url -%>/dwenguinoblockly/DwenguinoIDE/css/bootstrap.min.css">
    <link rel="stylesheet" href="<%- base_url -%>/dwenguinoblockly/DwenguinoIDE/css/bootstrap-grid.css">
    <link rel="stylesheet" href="<%- base_url -%>/dwenguinoblockly/DwenguinoIDE/css/bootstrap-reboot.css">
    <link rel="stylesheet" href="<%- base_url -%>/dwenguinoblockly/DwenguinoIDE/css/prettify.css">
    <link rel="stylesheet" href="<%- base_url -%>/dwenguinoblockly/DwenguinoIDE/css/hopscotch.css">
    <link rel="stylesheet" href="<%- base_url -%>/dwenguinoblockly/DwenguinoIDE/css/jquery.contextMenu.css">
    <link rel="stylesheet" href="<%- base_url -%>/dwenguinoblockly/DwenguinoIDE/css/tutorials.css">
    <link rel="stylesheet" href="<%- base_url -%>/dwenguinoblockly/DwenguinoIDE/css/auto-complete.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <style>
        body {
            width: 100vw;
            height: 100vh;
            margin:0;
            --theme-accentFillRest: #87C544;
            --theme-accentFillHover: #7EB940;
            --theme-accentFillActive: #96CC5C;
            --theme-accentFillSelected: #6DA037;
            --theme-accentForegroundCut: #000000;
            --theme-neutralFocusInnerAccent: #F6FBF1;
            --theme-neutralFocus: #7D8873;
            --theme-neutralFillRest: #E4E9DF;
            --theme-neutralFillHover: #DCE2D7;
            --theme-neutralFillActive: #E9EEE4;
            --theme-neutralFillSelected: #E4E9DF;
            --theme-neutralForegroundRest: #1E2B11;
            --theme-neutralFocus: #7D8873;
            --theme-neutralFillStealthRest: #F6FAF2;
            --theme-neutralFillStealthHover: #E9EEE4;
            --theme-neutralFillStealthActive: #EEF3EA;
            --theme-neutralFillStealthSelected: #E4E9DF;
            --theme-neutralOutlineRest: #B6BEAE;
            --theme-neutralOutlineHover: #8F9986;
            --theme-neutralOutlineActive: #CDD3C7;
            --theme-neutralForegroundRest: #1E2B11;
            --theme-neutralFocus: #7D8873;
            --theme-neutralFillStealthRest: #F6FAF2;
            --theme-neutralFillStealthHover: #E9EEE4;
            --theme-neutralFillStealthActive: #EEF3EA;
            --theme-neutralFillStealthSelected: #E4E9DF;
            --theme-neutralForegroundRest: #1E2B11;
            --theme-white: #fff;
            --theme-black: #000;
            --theme-notification-message-border-color: #c3e6cb;
            --theme-notification-message-background-color: #d4edda;
            --theme-notification-message-color: #155724;
            --theme-notification-error-border-color: #E5C1C1;
            --theme-notification-error-background-color: #ECD4D4;
            --theme-notification-error-color: #561414;

            --theme-main-page-margin: 2rem;
            --theme-base-font-size: 1rem;
            --theme-border-radius: 4px;
            color: var(--theme-accentForegroundCut);
            font-family: 'Roboto', sans-serif;
            font-size: var(--theme-base-font-size);

            
        }
        /* Extra small devices (phones, 600px and down) */
        @media only screen and (max-width: 600px) {
            
            
        }
        /* Small devices (portrait tablets and large phones, 600px and up) */
        @media only screen and (min-width: 600px) {
            
        }
        /* Medium devices (landscape tablets, 768px and up) */
        @media only screen and (min-width: 768px) {
            
        }
        /* Large devices (laptops/desktops, 992px and up) */
        @media only screen and (min-width: 992px) {
            
        }
        /* Extra large devices (large laptops and desktops, 1200px and up) */
        @media only screen and (min-width: 1200px) {
            
        }
    </style>
</head>
<body id="db_body">
    <div class="db_header">
        <span class="db_logo">
            <a href="https://www.dwengo.org" target="_blank"><img id="db_dwengo_logo_top_left" src="<%- base_url -%>/dwenguinoblockly/DwenguinoIDE/img/dwengo_logo.png" alt="The dwengo logo" /></a>
        </span>
        |
        <span class="environment_settings">
            <span id="switch_code_view">
                <span id="switch_to_blockly">Blockly</span>
                <label class="code-switch">
                    <input id="code_checkbox" type="checkbox">
                    <span class="code-slider round"></span>
                </label>
                <span id="switch_to_code">Code</span>
            </span>
        </span>
        <span class="db_menu">  <!-- ALERT! Do not put whitespace between these divs or they wil appear under eachother on the page! -->
            <span id="db_menu_item_login_menu" class="db_menu_item" alt="Login menu"><dwengo-login-menu style="display:inline-block"></dwengo-login-menu></span>
            <span id="db_menu_item_simulator" class="db_menu_item fas fa-tachometer-alt" alt="Open or close simulator"></span>
            <span id="db_menu_item_download" class="db_menu_item fas fa-download" alt="Download blocks to file" /></span>
            <span id="db_menu_item_upload" class="db_menu_item fas fa-upload" alt="Upload blocks to file" /></span>
            <span id="db_menu_item_loading_gear" class="db_menu_item" alt="Loading gear" style="display:none"><img id="db_menu_item_loading_gear_image" src="<%- base_url -%>/dwenguinoblockly/DwenguinoIDE/img/gear_animation.gif" alt="Spinning gear icon" /></span>
            <span id="db_menu_item_run" class="db_menu_item fas fa-play-circle" alt="Upload code to Dwenguino board" /></span>
            <span id="db_tutorials" class="db_menu_item fas fa-book" alt="Tutorials"/></span>
            <span id="db_menu_item_clear" class="db_menu_item fas fa-times-circle" alt="Upload empty sketch" /></span>
            <span id="db_menu_item_language" alt="Dropdown menu to select language">
                <select name="language" id="db_menu_item_language_selection">
                </select>
            </span>
        </span>
    </div>
    <div id="db_main_content" class="db_content resize-container">
        <div id="db_blockly" class="resize-drag">
            <div id="db_code_pane"></div>
        </div>
        <div id="db_infopane">
            <div id="db_simulator_panes"></div>
        </div>
        <div id="cookie-consent"> 
        </div>
    </div>

    <!--Blockly is injected into the following div, therafter it is positioned over the db_blockly div -->
    <div id="blocklyDiv" style="position: absolute">
    </div>

    <div id="startBlocks" style="display: none">
        <%- blocks_xml %>
    </div>

    <xml id="toolbox" style="display: none">
      <category id="catLogic" colour="0" name='Logic'>
          <block type="controls_if"></block>
          <block type="logic_compare"></block>
          <block type="logic_operation"></block>
          <block type="logic_negate"></block>
          <block type="logic_boolean"></block>
      </category>
      <category id="catLoops" colour="180" name="Loops">
        <block type="controls_for">
          <value name="FROM">
            <shadow type="char_type">
              <field name="BITMASK">0</field>
            </shadow>
          </value>
            <value name="TO">
            <shadow type="char_type">
              <field name="BITMASK">10</field>
            </shadow>
          </value>
          <value name="BY">
            <shadow type="char_type">
              <field name="BITMASK">1</field>
            </shadow>
          </value>
        </block>
        <block type="controls_whileUntil"></block>
      </category>
      <category id="catMath" colour="45" name='Math'>
          <block type="char_type">
              <field name="BITMASK">100</field>
          </block>
          <block type="char_type"></block>
          <block type="math_arithmetic"></block>
      </category>
      <category id="catText" colour="225" name="Text">
          <block type="text"></block>
          <block type="text_join"></block>
      </category>
      <category id="catVariables" colour="90" name='Math'>
          <block type="variables_get"></block>
          <block type="variables_declare_set"></block>
      </category>
      <category id="catDwenguino" colour="315" name='Dwenguino'>
          <block type="setup_loop_structure"></block>
          <block type="dwenguino_delay">
              <value name="DELAY_TIME">
                  <block type="char_type">
                      <field name="BITMASK">100</field>
                  </block>
              </value>
          </block>
          <block type="clear_lcd"></block>
          <block type="dwenguino_lcd">
              <value name="text">
                  <block type="text" id="48">
                      <field name="TEXT">Hallo Dwenguino</field>
                  </block>
              </value>
              <value name="line_number">
                  <block type="char_type" id="53">
                      <field name="BITMASK">0</field>
                  </block>
              </value>
              <value name="character_number">
                  <block type="char_type" id="58">
                      <field name="BITMASK">0</field>
                  </block>
              </value>
          </block>
          <block type="dc_motor">
              <value name="channel">
                  <block type="math_number" id="32">
                      <field name="NUM">1</field>
                  </block>
              </value>
              <value name="speed">
                  <block type="math_number" id="37">
                      <field name="NUM">100</field>
                  </block>
              </value>
          </block>
          <block type="dwenguino_servo">
                <value name="pin">
                    <block type="dwenguino_servo_dropdown">
                        <field name="SERVO_DROPDOWN">SERVO1</field>
                    </block>
                </value>
              <value name="angle">
                  <block type="math_number" id="116">
                      <field name="NUM">45</field>
                  </block>
              </value>
          </block>
          <block type="dwenguino_servo_dropdown"></block>
          <block type="dwenguino_pins">
              <field name="PIN">0</field>
          </block>
          <block type="dwenguino_tone_on_pin">
              <value name="PIN">
                  <block type="dwenguino_pins">
                      <field name="PIN">BUZZER</field>
                  </block>
              </value>
              <value name="NUM">
                  <block type="char_type">
                      <field name="BITMASK">440</field>
                  </block>
              </value>
          </block>
          <block type="dwenguino_no_tone_on_pin">
              <value name="PIN">
                  <block type="dwenguino_pins">
                      <field name="PIN">BUZZER</field>
                  </block>
              </value>
          </block>
          <block type="dwenguino_digital_read_switch"></block>
          <block type="dwenguino_pressed"></block>
          <block type="dwenguino_highlow"></block>
          <block type="sonar_sensor">
              <value name="trig">
                  <block type="char_type" id="72">
                      <field name="BITMASK">11</field>
                  </block>
              </value>
              <value name="echo">
                  <block type="char_type" id="77">
                      <field name="BITMASK">12</field>
                  </block>
              </value>
          </block>
          <block type="dwenguino_set_led">
              <value name="LED">
                  <block type="dwenguino_led_pins">
                      <field name="LED_NUMBER">13</field>
                  </block>
              </value>
              <value name="LED_STATE">
                  <block type="dwenguino_on_off">
                      <field name="LED_ON_OFF">ON</field>
                  </block>
              </value>
          </block>
          <block type="dwenguino_leds_reg">
              <value name="MASK">
                  <block type="char_type">
                      <field name="BITMASK">0b01010101</field>
                  </block>
              </value>
          </block>
          <block type="dwenguino_led_pins"></block>
          <block type="dwenguino_on_off"></block>
      </category>

    <sep></sep>
    <category id="catComments" colour="200" name='Comments'>
        <block type="line_comment">
        </block>
    </category>

    </xml>


    <div id="dropzoneModal" class="modal fade" role="dialog">
        <div id="modalDialog" class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                </div>
                <div class="modal-body">
                    <div class="message"></div>
                </div>
                <div class="modal-footer">
                    <button id="submit_upload_modal_dialog_button" type="button" class="btn btn-default" data-dismiss="modal">Ok</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal dialog to show error information-->
    <div id="errorModal" class="modal fade" role="dialog">
            <div class="modal-dialog"><!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                    Error
                    </div>
                    <div class="modal-body">
                        <div class="message"></div>
                        <button class="error_details"><span class="fas fa-terminal"></span></button>
                        <div class="console"></div>
                    </div>
                    <div class="modal-footer">
                    <button id="submit_modal_error_dialog" type="button" class="btn btn-default" data-dismiss="modal">Ok</button>
                    </div>
                </div>
            </div>
    </div>


    <div id="tutorialModal" class="modal fade" role="dialog">
        <div class="modal-dialog"><!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                </div>
                <div class="modal-body">
                    <div class="message"></div>
                </div>
                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div>

    <div id="cookiesModal" class="modal fade" role="dialog">
        <div class="modal-dialog"><!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                </div>
                <div class="modal-body">
                    <div class="message"></div>
                </div>
                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div>

    <div id="arduinoWarningModal" class="modal fade" role="dialog">
        <div class="modal-dialog"><!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                </div>
                <div class="modal-body">
                    <div class="message"></div>
                </div>
                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div>

    <!-- set base path for front end application-->
    <script>
        let settings = {
            basepath: "<%- base_url -%>/dwenguinoblockly/",
            hostname: "<%- base_url -%>"
        }
    </script>
    <!--<script src="<%- base_url -%>/dwenguinoblockly/DwenguinoIDE/js/src/settings.js"></script>-->

    <!-- import jquery -->


    <script src="<%- base_url -%>/dwenguinoblockly/DwenguinoIDE/js/lib/jquery/jquery-3.1.1.min.js"></script>
    <script src="<%- base_url -%>/dwenguinoblockly/DwenguinoIDE/js/lib/jquery-ui/jquery-ui.js"></script>

    <!-- Import translation fallback file, needs to be loaded before Blockly and DwenguinoBlockly -->
    <script src="<%- base_url -%>/dwenguinoblockly/DwenguinoIDE/msg/fallback.js"></script>

    <script src="<%- base_url -%>/dwenguinoblockly/blockly/blockly_uncompressed.js"></script>
    <script src="<%- base_url -%>/dwenguinoblockly/blockly/msg/messages.js"></script>

    <!--<script src="<%- base_url -%>/dwenguinoblockly/DwenguinoIDE/js/src/language_select.js"></script>-->

    <script>
        var DwenguinoBlocklyLanguageSettings = {}

        DwenguinoBlocklyLanguageSettings.LANGUAGE_NAME = {
            'en': 'English',
            'nl': 'Nederlands',
            'es': 'Español',
            'fr': 'français',
            'it': 'Italiano',   
            'de': 'Deutsch',
            'my': 'Malay',
            'pl': 'Polski',
            'el': 'Ελληνικά',
            'ar': 'عربى'
        };

        //Set default language setting
        DwenguinoBlocklyLanguageSettings.DEFAULT_LANG = 'nl';

        DwenguinoBlocklyLanguageSettings.translate = function(translationKey){
        let translation = DwenguinoBlocklyLanguageSettings.findValueForTranslationKey(translationKey, MSG);
        if (translation){
            return translation;
        }else{
            translation = DwenguinoBlocklyLanguageSettings.findValueForTranslationKey(translationKey, MSG_FALLBACK);
            if (translation){
            return translation;
            }else{
            return "No translation";
            }
        }
        };

        DwenguinoBlocklyLanguageSettings.translateFrom = function(subdevision, translationKey){
        let translation;
        if (MSG[subdevision]){
            translation = DwenguinoBlocklyLanguageSettings.findValueForTranslationKey(translationKey, MSG[subdevision]);
        }
        if (translation){
            return translation;
        }else{
            translation = DwenguinoBlocklyLanguageSettings.findValueForTranslationKey(translationKey, MSG_FALLBACK[subdevision]);
            if (translation){
            return translation;
            }else{
            return "No translation";
            }
        }
        };

        /**
         * @Brief returns the value for a translation key
         * @Param translationKey an array containing the the keys of the subsequent subobjects
         */
        DwenguinoBlocklyLanguageSettings.findValueForTranslationKey = function(translationKey, translationObject){
        let i = 0;
        while (translationObject[translationKey[i]]){
            translationObject = translationObject[translationKey[i]];
            i++;
        }
        if (typeof translationObject === 'string'){
            return translationObject;
        }else{ 
            return undefined;
        }
        };

        /**
        * Extracts a parameter from the URL.
        * If the parameter is absent default_value is returned.
        * @param {string} name The name of the parameter.
        * @param {string} defaultValue Value to return if paramater not found.
        * @return {string} The parameter value or the default value if not found.
        */
        DwenguinoBlocklyLanguageSettings.getStringParamFromUrl = function(name, defaultValue) {
        var val = location.search.match(new RegExp('[?&]' + name + '=([^&]+)'));
        return val ? decodeURIComponent(val[1].replace(/\+/g, '%20')) : defaultValue;
        };

        /**
         * Get the language of this user from the URL.
         * @return {string} User's language.
         */
        DwenguinoBlocklyLanguageSettings.getLang = function() {
        var lang = DwenguinoBlocklyLanguageSettings.getStringParamFromUrl('lang', '');
        if (DwenguinoBlocklyLanguageSettings.LANGUAGE_NAME[lang] === undefined) {
            // Default to English.
            lang = DwenguinoBlocklyLanguageSettings.DEFAULT_LANG;
        }
        return lang;
        };

        // Load the Code demo's language strings.
        let scriptCloseTag = "</" + "script" + ">"
        document.write(`<script src="<%- base_url -%>/dwenguinoblockly/DwenguinoIDE/msg/${DwenguinoBlocklyLanguageSettings.getLang()}.js">${scriptCloseTag}\n`);
        // Load Blockly's language strings.
        document.write(`<script src="<%- base_url -%>/dwenguinoblockly/blockly/msg/js/${DwenguinoBlocklyLanguageSettings.getLang()}.js">${scriptCloseTag}\n`);
    </script>
    <!-- Custom components -->
    <script type="text/javascript" src="<%- base_url -%>/dashboard/assets/js/serial-monitor.js"></script>

    <script>
        let globalSettings = {
            basepath: "<%- base_url -%>/dwenguinoblockly/",
            hostname: "<%- base_url -%>"
        }
    </script>
    <script type="text/javascript" src="<%- base_url -%>/dwenguinoblockly/dashboards/js/dist/dashboards.bundle.js"></script>

    <!--Scripts for step by step tutorials -->
    <script src="<%- base_url -%>/dwenguinoblockly/DwenguinoIDE/js/lib/hopscotch.js"></script>

    <script src="<%- base_url -%>/dwenguinoblockly/blockly/generators/arduino.js"></script>
    <script src="<%- base_url -%>/dwenguinoblockly/blockly/generators/python.js"></script>

    <!-- Blockly block definitions -->
    <script src="<%- base_url -%>/dwenguinoblockly/blockly/blocks/logic.js"></script>
    <script src="<%- base_url -%>/dwenguinoblockly/blockly/blocks/loops.js"></script>
    <script src="<%- base_url -%>/dwenguinoblockly/blockly/blocks/math.js"></script>
    <script src="<%- base_url -%>/dwenguinoblockly/blockly/blocks/text.js"></script>
    <script src="<%- base_url -%>/dwenguinoblockly/blockly/blocks/lists.js"></script>
    <script src="<%- base_url -%>/dwenguinoblockly/blockly/blocks/colour.js"></script>
    <script src="<%- base_url -%>/dwenguinoblockly/blockly/blocks/variables.js"></script>
    <script src="<%- base_url -%>/dwenguinoblockly/blockly/blocks/procedures.js"></script>
    <script src="<%- base_url -%>/dwenguinoblockly/blockly/blocks/dwenguino_new.js"></script>
    <script src="<%- base_url -%>/dwenguinoblockly/blockly/blocks/input.js"></script>
    <script src="<%- base_url -%>/dwenguinoblockly/blockly/blocks/output_actuators.js"></script>
    <script src="<%- base_url -%>/dwenguinoblockly/blockly/blocks/arduino.js"></script>
    <script src="<%- base_url -%>/dwenguinoblockly/blockly/blocks/comments.js"></script>
    <script src="<%- base_url -%>/dwenguinoblockly/blockly/blocks/drawingrobot.js"></script>
    <script src="<%- base_url -%>/dwenguinoblockly/blockly/blocks/conveyor.js"></script>


    <!-- Blockly translators to c++ code -->

    <script src="<%- base_url -%>/dwenguinoblockly/blockly/generators/arduino/logic.js"></script>
    <script src="<%- base_url -%>/dwenguinoblockly/blockly/generators/arduino/loops.js"></script>
    <script src="<%- base_url -%>/dwenguinoblockly/blockly/generators/arduino/math.js"></script>
    <script src="<%- base_url -%>/dwenguinoblockly/blockly/generators/arduino/text.js"></script>
    <script src="<%- base_url -%>/dwenguinoblockly/blockly/generators/arduino/variables.js"></script>
    <script src="<%- base_url -%>/dwenguinoblockly/blockly/generators/arduino/procedures.js"></script>
    <script src="<%- base_url -%>/dwenguinoblockly/blockly/generators/arduino/dwenguino.js"></script>
    <script src="<%- base_url -%>/dwenguinoblockly/blockly/generators/arduino/input.js"></script>
    <script src="<%- base_url -%>/dwenguinoblockly/blockly/generators/arduino/output_actuators.js"></script>
    <!--<script src="<%- base_url -%>/dwenguinoblockly/blockly/generators/arduino/arduino.js"></script>-->
    <script src="<%- base_url -%>/dwenguinoblockly/blockly/generators/arduino/comments.js"></script>
    <script src="<%- base_url -%>/dwenguinoblockly/blockly/generators/arduino/base.js"></script> 
    <script src="<%- base_url -%>/dwenguinoblockly/blockly/generators/arduino/arduino.js"></script> 
    <script src="<%- base_url -%>/dwenguinoblockly/blockly/generators/arduino/conveyor.js"></script>

    <!-- Blockly ranslators to javascript code -->
    <script src="<%- base_url -%>/dwenguinoblockly/blockly/generators/javascript.js"></script>
    <script src="<%- base_url -%>/dwenguinoblockly/blockly/generators/javascript/logic.js"></script>
    <script src="<%- base_url -%>/dwenguinoblockly/blockly/generators/javascript/loops.js"></script>
    <script src="<%- base_url -%>/dwenguinoblockly/blockly/generators/javascript/math.js"></script>
    <script src="<%- base_url -%>/dwenguinoblockly/blockly/generators/javascript/text.js"></script>
    <script src="<%- base_url -%>/dwenguinoblockly/blockly/generators/javascript/variables.js"></script>
    <script src="<%- base_url -%>/dwenguinoblockly/blockly/generators/javascript/procedures.js"></script>
    <script src="<%- base_url -%>/dwenguinoblockly/blockly/generators/javascript/dwenguino.js"></script>
    <script src="<%- base_url -%>/dwenguinoblockly/blockly/generators/javascript/input.js"></script>
    <script src="<%- base_url -%>/dwenguinoblockly/blockly/generators/javascript/output_actuators.js"></script>
    <script src="<%- base_url -%>/dwenguinoblockly/blockly/generators/javascript/comments.js"></script>
    <script src="<%- base_url -%>/dwenguinoblockly/blockly/generators/javascript/drawingrobot.js"></script>
    <script src="<%- base_url -%>/dwenguinoblockly/blockly/generators/javascript/conveyor.js"></script>

    <!-- Blockly translators to python code -->
    <script src="<%- base_url -%>/dwenguinoblockly/blockly/generators/python/logic.js"></script>
    <script src="<%- base_url -%>/dwenguinoblockly/blockly/generators/python/loops.js"></script>
    <script src="<%- base_url -%>/dwenguinoblockly/blockly/generators/python/math.js"></script>
    <script src="<%- base_url -%>/dwenguinoblockly/blockly/generators/python/text.js"></script>
    <script src="<%- base_url -%>/dwenguinoblockly/blockly/generators/python/variables.js"></script>
    <script src="<%- base_url -%>/dwenguinoblockly/blockly/generators/python/procedures.js"></script>
    <script src="<%- base_url -%>/dwenguinoblockly/blockly/generators/python/dwenguino.js"></script>
    <!-- extra javascript libs -->

    <script src="<%- base_url -%>/dwenguinoblockly/DwenguinoIDE/js/lib/jquery-ui/jquery-ui.js"></script>
    <script src="<%- base_url -%>/dwenguinoblockly/DwenguinoIDE/js/lib/prettify.js"></script>
    <script src="<%- base_url -%>/dwenguinoblockly/DwenguinoIDE/js/lib/diff.js"></script>
    <script src="<%- base_url -%>/dwenguinoblockly/DwenguinoIDE/js/lib/jquery.contextMenu.js"></script>
    <script src="<%- base_url -%>/dwenguinoblockly/DwenguinoIDE/js/lib/auto-complete.js"></script>
    <!-- Matter -->
    <script src="<%- base_url -%>/dwenguinoblockly/DwenguinoIDE/js/lib/matterjs/matter.js"></script>

    <script src="<%- base_url -%>/dwenguinoblockly/DwenguinoIDE/js/lib/nerdamer/nerdamer.core.js"></script> <!-- assuming you've saved the file in the root of course -->
    <!-- LOAD ADD-ONS -->
    <script src="<%- base_url -%>/dwenguinoblockly/DwenguinoIDE/js/lib/nerdamer/Algebra.js"></script>
    <script src="<%- base_url -%>/dwenguinoblockly/DwenguinoIDE/js/lib/nerdamer/Calculus.js"></script>
    <script src="<%- base_url -%>/dwenguinoblockly/DwenguinoIDE/js/lib/nerdamer/Solve.js"></script>
    <script src="<%- base_url -%>/dwenguinoblockly/DwenguinoIDE/js/lib/nerdamer/Extra.js"></script> <!-- again assuming you've saved the files in root -->

    <script src="<%- base_url -%>/dwenguinoblockly/DwenguinoIDE/js/lib/ResizeSensor.js"></script>
    <script src="<%- base_url -%>/dwenguinoblockly/DwenguinoIDE/js/lib/ElementQueries.js"></script>
    <script src="<%- base_url -%>/dwenguinoblockly/DwenguinoIDE/js/lib/debugjs.js" type="text/javascript"></script>
    <script src="<%- base_url -%>/dwenguinoblockly/DwenguinoIDE/js/lib/socket.io.js"></script>
    <script src="<%- base_url -%>/dwenguinoblockly/DwenguinoIDE/js/lib/dropzone.js"></script>

    <!-- DwenguinoBlockly core modules, in the future should be reduced to only the DwenguinoBlockly.js file -->
    <script src="<%- base_url -%>/dwenguinoblockly/DwenguinoIDE/js/dist/dwenguinoblockly.bundle.js"></script>

    </body>
    </html>
