<!DOCTYPE html>
<html>
<head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-6R5D9RYVWX"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'G-6R5D9RYVWX');
    </script>
    <meta charset="utf-8">
    <meta name="google" value="notranslate">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <title>dwengo IDE</title>
    <link rel="stylesheet" href="<%- base_url %>/dwenguinoblockly/DwenguinoIDE/css/all.css" rel="stylesheet">
    <link rel="stylesheet" href="<%- base_url %>/dwenguinoblockly/DwenguinoIDE/css/style.css">
    <link rel="stylesheet" href="<%- base_url %>/dwenguinoblockly/DwenguinoIDE/css/colors.css">
    <link rel="stylesheet" href="<%- base_url %>/dwenguinoblockly/DwenguinoIDE/js/lib/jquery-ui/jquery-ui.css">
    <link rel="stylesheet" href="<%- base_url %>/dwenguinoblockly/DwenguinoIDE/css/bootstrap.min.css">
    <link rel="stylesheet" href="<%- base_url %>/dwenguinoblockly/DwenguinoIDE/css/bootstrap-grid.css">
    <link rel="stylesheet" href="<%- base_url %>/dwenguinoblockly/DwenguinoIDE/css/bootstrap-reboot.css">
    <link rel="stylesheet" href="<%- base_url %>/dwenguinoblockly/DwenguinoIDE/css/prettify.css">
    <link rel="stylesheet" href="<%- base_url %>/dwenguinoblockly/DwenguinoIDE/css/hopscotch.css">
    <link rel="stylesheet" href="<%- base_url %>/dwenguinoblockly/DwenguinoIDE/css/jquery.contextMenu.css">
    <link rel="stylesheet" href="<%- base_url %>/dwenguinoblockly/DwenguinoIDE/css/tutorials.css">
    <link rel="stylesheet" href="<%- base_url %>/dwenguinoblockly/DwenguinoIDE/css/auto-complete.css">
</head>
    <body id="db_body">
        
        <!-- import global settings-->
        <script src="<%- base_url %>/dwenguinoblockly/DwenguinoIDE/js/src/settings.js"></script>

        <!-- import jquery -->


        <script src="<%- base_url %>/dwenguinoblockly/DwenguinoIDE/js/lib/jquery/jquery-3.1.1.min.js"></script>
        <script src="<%- base_url %>/dwenguinoblockly/DwenguinoIDE/js/lib/jquery-ui/jquery-ui.js"></script>

        <!-- Import translation fallback file, needs to be loaded before Blockly and DwenguinoBlockly -->
        <script src="<%- base_url %>/dwenguinoblockly/DwenguinoIDE/msg/fallback.js"></script>

        <script src="<%- base_url %>/dwenguinoblockly/blockly/blockly_uncompressed.js"></script>
        <script src="<%- base_url %>/dwenguinoblockly/blockly/msg/messages.js"></script>

        <script src="<%- base_url %>/dwenguinoblockly/DwenguinoIDE/js/src/language_select.js"></script>


    
        <div id="sim_container"></div>


        <script type="module">
            import { DwenguinoSimulationScenarioSocialRobot } from "<%- base_url %>/dwenguinoblockly/DwenguinoIDE/js/src/scenario/socialrobot/dwenguino_simulation_scenario_social_robot.js"
            import { BoardState } from "<%- base_url %>/dwenguinoblockly/DwenguinoIDE/js/src/simulation/board_state.js"
            import { DummyDwenguinoEventLogger } from "<%- base_url %>/dwenguinoblockly/DwenguinoIDE/js/src/logging/dummy_dwenguino_event_logger.js"
            this.socialRobotSimulation = new DwenguinoSimulationScenarioSocialRobot(new DummyDwenguinoEventLogger())
            this.boardState = new BoardState()
            const container = $("#sim_container")
            if (container){
                this.socialRobotSimulation?.initSimulationState(this.boardState)
                this.socialRobotSimulation?.initSimulationDisplay(this.containerRef.value)
                if (this.item?.socialRobotDesignXml){
                    this.socialRobotSimulation?.resetSocialRobot("");
                    this.socialRobotSimulation?.xmlToRobot(`<%- robot_xml %>`)
                }
            }
        </script>
    </body>
</html>
